*{
    box-sizing: border-box;
    max-width: 1440px;
    align-items: center;
}
/* Shared CSS */
.btn{
    background-color: #4E47FF;
    color: #fff;
    border-radius: 10px;
    padding: 12px 36px;
    
}

/* heder style stars here... */

header{
    background-image: url(imges/Hero-bg.png);
    width: auto;
    height: 700px;
    align-items: center;
}

.nav{
    margin: 50px 150px 0px 150px;
    width: 1140px;
    height: 154px;
    padding: 50px;
  
    /* gap: 900px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    

   
}
nav h3 {
    color: #4E47FF;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700
}

nav button{
    width: 130px;
    height: 45px;
    
}

/* hero style here */
.banner{
    /* background-image: url(imges/Hero-bg.png); */
    text-align: center;
    margin: 309px 267.5px 152px;
}

.banner h1{
    width: 900px;
    height: 150px;
    font-size: 65px;
    font-weight: bold;
}
.banner button{
    width: 178px 48px;
}
