* {
  box-sizing: border-box;
  /* max-width: 1440px; */
  /* align-items: center; */
 
/* Shared CSS */
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
  background-color: #4e47ff;
  color: #fff;
  border-radius: 10px;
  padding: 12px 36px;
}

.item-with{
    width: 1140px;
    align-content: center;
    margin: 0px 160px 0 px 140px;
}
/* heder style starts here... */

header {
  background-image: url(images/Hero-bg.png);
  height: 700px;
  align-items: center;
}

.nav {
  margin: 50px 150px 0px 150px;
  width: 1140px;
  height: 154px;
  padding: 50px;
}
nav h3 {
  color: #4e47ff;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}

nav button {
  width: 130px;
  height: 45px;
}

/* hero style here */
.banner {
  text-align: center;
  margin: 309px 267.5px 152px;
  padding: 0 0 152px 0;
}

.banner h1 {
  width: 900px;
  height: 150px;
  font-size: 65px;
  font-weight: bold;
}
.banner button {
  width: 178px 48px;
}

/* action start here */

.action {
    width: 1140px;
  height: 380px;
  margin: 115px 160px 115px 140px;
}
.action-left {
  padding: 62px 0px;
  }

.action-left h2 {
  font-size: 42px;
  font-weight: bold;
}
.action-left p {
  font-size: 24px;
  font-weight: 200;
  margin: 23px 0px;
  color: #1e1e1e;
}
.action img {
  border-radius: 45px;
}

.users-container {
  width: 1140px;
  height: 306px;
  align-self: center;
  text-align: center;
  background-color: rgba(77, 71, 255, 0.303);
  padding: 50px 140px;
  border-radius: 24px;
}
.user-summary {
  padding-bottom: 50px;
}
div p{
    font-size: 35px;
    font-weight: bold;
}
section h1 {
  font-size: 60px;
  font-weight: 700;
  color: #4e47ff;
  margin: 40px 0px 0px;
}

section p {
    font-size: 20px;
  font-weight: 400;
  margin: 0px;
  text-align: center;
}

/* contact section starts here */

.contact{
  gap: 200px;
  width: 1140px;
  height: 630px;
  margin: 90px 150px 15px;
}
.contact-heading{
   font-size: 97px;
  font-weight: bold;
 
}
form{
  display: flex;
  flex-direction: column;
  margin: 70px 0px;
}
form label {
  font-size: 18px;
  font-weight: 300;
  color: #000;
}
input, textarea{
  border-radius: 10px;
  width: 450px;
  height: 70px;
  padding: 5px 15px;
}
form button {
  margin-top: 10px;
}
